<html>


<body>
<h4 style="text-align:center">PENGHITUNGAN PENGHASILAN PEGAWAI</h4>
<table style="width:100%;text-align:left">
<tr><th style="width:30%;text-align:left">Periode</th>
	<th>:</th>
	<th style="width:60%;text-align:left">28 Februari 2015 - 30 Maret 2015</th>
</tr>
<tr><th style="width:30%;text-align:left">Nama Pegawai</th>
	<th>:</th>
	<th style="width:60%;text-align:left">HENDRA</th>
</tr>
</table>

<div style="width:100%;float:left;">
<div style="float:left" width="100px" ><h3 >A. GAJI POKOK HARIAN</h3></div><div  width="100px"  style="float:right"><h3>Rp. 70,000</h3></div>
<p>Jumlah hari kerja periode per bulan</p>
</div>
</body>

</html>